@charset "UTF-8";

.header {
    padding: 20px 0 20px 20px;
    background-color: #1dafec;
    border-bottom: 1px solid #cccdcd;
}

.main_catch {
    height: 596px;
    width:  100%;
    background: url(../img/baikyaku-lp_pc/index_im01.png) no-repeat 50% 0;
}